@import '~@angular/material/theming';

$typo-config: mat-typography-config();

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .mat-form-field {
    padding-bottom: mat-font-size($typo-config, subheading-2);
  }
}
